@import "bootstrap";

body{
  background-color: black;
  color: white;
}
a{
  color:aqua;
}
a:hover{
  color:rgb(217, 244, 247);
}
.edit-table{
  color:white;
}
.nav{
  font-size: 24px;
  padding-left: 50px;
}
nav a{
  margin:10px;
  text-decoration: none;
  
}

.batata h1{
  font-size: px;
}